stripper fix
;passing1 entremoval
filter:
{
    "hammerid" "1094437"
}
{
    "hammerid" "1094404"
}
{
    "hammerid" "1094505"
}
{
    "hammerid" "765976"
}
{
    "hammerid" "1093539"
}
{
    "hammerid" "1094461"
}
{
    "hammerid" "1094444"
}
{
    "hammerid" "1094406"
}
{
    "hammerid" "1093526"
}
{
    "hammerid" "5531"
}
{
    "hammerid" "20447"
}
{
    "hammerid" "24103"
}
{
    "hammerid" "41665"
}
{
    "hammerid" "41667"
}
{
    "hammerid" "41669"
}
{
    "hammerid" "50231"
}
{
    "hammerid" "74946"
}
{
    "hammerid" "93463"
}
{
    "hammerid" "177701"
}
{
    "hammerid" "181411"
}
{
    "hammerid" "181415"
}
{
    "hammerid" "187883"
}
{
    "hammerid" "225925"
}
{
    "hammerid" "236946"
}
{
    "hammerid" "256944"
}
{
    "hammerid" "256946"
}
{
    "hammerid" "256950"
}
{
    "hammerid" "290873"
}
{
    "hammerid" "290936"
}
{
    "hammerid" "291028"
}
{
    "hammerid" "291030"
}
{
    "hammerid" "291041"
}
{
    "hammerid" "569014"
}
{
    "hammerid" "569031"
}
{
    "hammerid" "570099"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/10/29] ---------------||
;----------BY: apples1949----------------------||

add:
{
	"solid" "6"
	"classname"	"weapon_smg_silenced_spawn"
	"origin" "925 3611 93"
	"angles" "0 204 -92"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"8"
}

{
	"solid" "6"
	"origin" "1839 1342 329"
	"angles" "-77 90 0"
	"model"	 "models/props_interiors/sheetrock_leaning.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"classname"	"weapon_pumpshotgun_spawn"
	"origin" "843 3607 91"
	"angles" "359 184 -93"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"8"
}

