;not sure who made this but PM me on alliedmodders for credit
modify:
{
	match:
	{
		"hammerid" "8411"
	}
	delete:
	{
		"OnCoop" "relay_coop_setupTrigger0-1"
	}
	insert:
	{
		"OnCoop" "relay_vs_setupTrigger0-1"
	}
}


modify:
{
	match:
	{
		"hammerid" "258835" ; func_elevator
	}
	delete:
	{
		"OnTrigger" "!zoeyReleaseFromSurvivorPositionzoey_start0-1"
		"OnTrigger" "!louisReleaseFromSurvivorPositionlouis_start0-1"
		"OnTrigger" "!francisReleaseFromSurvivorPositionfrancis_start0-1"
		"OnTrigger" "l4d1_script_relayCancelPending0-1"
		"OnTrigger" "l4d1_elevator_triggerEnable0-1"
	}
}


filter:
{
  "hammerid" "1240041"
}

filter:
{
  "hammerid" "1240055"
}

filter:
{
  "hammerid" "1240073"
}  